<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Empty Arena Billiards</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="test/assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <link href="test/css/styles.css" rel="stylesheet" />
           <link href="test/css/swipe.css" rel="stylesheet" />
           
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    </head>
    <body id="page-top">
        
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="test/assets/img/logo.png" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Location</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Merchandise</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Contact</a></li>
                 
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container" style="max-width : 2000px">
                <div class="welcometext">
              
                
                </div>
              <div class="masthead-links" >
          
    <a class="" href="#services" id="slide-2" data-slide="2">Hanoi</a>
    <a class="" href="#services" id="slide-1" data-slide="1">Ho Chi Minh</a>
    <a class="" href="#services" id="slide-0" data-slide="0">Da Nang</a>
        </div>  
            </div>
        </header>
 <!-- location-->

<section class="page-section" style="padding : 3rem" >
 <div class="text-center">
                   
 <h2 class="section-heading text-uppercase title" style="margin-bottom :30px " id="services" >Location</h2>
  <h3 class="section-subheading text-muted"></h3>
                </div>
    <div class="swiper-container">
        <div class="swiper-wrapper" >
            <!-- Da Nang -->
                <div class="swiper-slide swiperDN" id="slide-0"  data-slide="0" style="height: 1165px;">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100 hidden-img" src="images/emptyDN.jpeg" alt="First slide">
                        </div>
                        <div class="col-md-6 swip">
                           <h2 class="section-heading text-uppercase swip" >Empty Arena DN</h2>
                             <a href="tel:0865317272" style="font-size :1.4rem; color : whitesmoke;" >  
                             <img src="icons/tele.svg" class="imgHotline">086 531 7272</img>
                           </a>
                          <div>
                           <a href="https://maps.app.goo.gl/mmZxJmYr4Ck2zApP6" target="_blank" class = "aLocation" >
                            <img src="icons/point.png"class=" imgHotline " >72 Núi Thành, Hải Châu, Đà Nẵng</h3>
                           </a>
                            </div>
                               <a class="btn btn-primary btn-xl text-uppercase" data-bs-toggle="modal" href="#modalDN">Đặt Bàn</a>                        </div>
                    </div>
                </div>
            </div>

            <!-- Sai Gon -->
          <div class="swiper-slide swiperSG" id="slide-1" data-slide="1" style="height: 1165px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100 hidden-img" src="images/emptySG.jpeg" alt="Second slide">
                        </div>
                        <div class="col-md-6 swip">
                           <h2 class="section-heading text-uppercase swip">Empty Arena SG</h2>
                     
                           <a href="tel:0974546771" style="font-size :1.4rem; color : whitesmoke;" >  
                             <img src="icons/tele.svg" class="imgHotline">097 454 67 71</img>
                           </a>
                           <div>
                           <a href="https://maps.app.goo.gl/QaXHdqmMi3YqWDU86" target="_blank" class = "aLocation" >
                            <img src="icons/point.png"class=" imgHotline " >771 Trần Xuân Soạn, Quận 7, Ho Chi Minh City</h3>
                           </a>
                            </div>
                               <a class="btn btn-primary btn-xl text-uppercase" data-bs-toggle="modal" href="#modalSG">Đặt Bàn</a> 
                               
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ha Noi -->
            <div class="swiper-slide swiperHN" id="slide-2" data-slide="2" style="height: 1165px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="d-block w-100 hidden-img" src="images/emptyHN.jpeg" alt="First slide">
                        </div>
                        <div class="col-md-6 swip">
                                <h2 class="section-heading text-uppercase swip">Empty Arena HN</h2>
                              <a href="tel:0974546771" style="font-size :1.4rem; color : whitesmoke;" >  
                             <img src="icons/tele.svg" class="imgHotline">097 454 67 71</img>
                           </a>
                           <div>
                             <a href="https://maps.app.goo.gl/MSevCcUSKjQn5mUZ6" target="_blank" class = "aLocation" >
                            <img src="icons/point.png"class=" imgHotline " >379 Thuỵ Khuê, Quận Tây Hồ , Hà Nội</h3>
                           </a>
                           </div>
                       
                         
                               <a class="btn btn-primary btn-xl text-uppercase" data-bs-toggle="modal" href="#modalHN">Đặt Bàn</a>                   </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->

    </div>
</section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio" >
            <div class="container"style ="margin-top : -60px" >
                <div class="text-center">
                    <h2 class="section-heading text-uppercase title ">Merchandise</h2>
                    <h3 class="section-subheading text-muted">Empty Arena Merchandise</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4 shirtT" style="margin-right:200px;">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="images/removebgshirt.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">EmptyArena T-Shirt</div>
                                <div class="portfolio-caption-subheading text-muted">350.000 VND</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="imagess/emptyshirt2.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">EmptyArena Polo </div>
                                <div class="portfolio-caption-subheading text-muted">350.000 VND</div>
                            </div>
                        </div>
                    </div>
             
                    
        </section>
        <!-- About-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    {{!-- <h2 class="section-heading text-uppercase title">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div> --}}
                <ul class="timeline">
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                {{!-- <h4>2009-2011</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4> --}}
                            </div>
                            <div class="timeline-body"><p class="text-muted"></p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                {{!-- <h4>March 2011</h4>
                                <h4 class="subheading">An Agency is Born</h4> --}}
                            </div>
                            <div class="timeline-body"><p class="text-muted"></p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"></p></div>
                        </div>
                    </li>
                    {{!-- <li class="timeline-inverted">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2020</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                        </div>
                    </li> --}}
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br />
                                Of Our
                                <br />
                                Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Team-->
        <section class="page-section bg-light" id="team">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact </h2>
                    <h3 class="section-subheading text-muted">Liên Hệ với chúng mình qua các kênh thông tin dưới nhé </h3>
                </div> 
                <div class="row">
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="images/emptySG.jpeg" alt="..." />
                            <h4>Empty Arena SG</h4>                            
                            <p class="text-muted">771 Trần Xuân Soạn, Q.7, TPHCM</p>
                            <p class="text-muted">HOTLINE : 0974546771</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" target="_blank" aria-label="Parveen Anand Twitter Profile"><i class="fas fa-map-marker-alt"></i></a>
                            <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.facebook.com/profile.php?id=100087461982915" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.instagram.com/emptyarena.billiards/" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="images/emptyHN.jpeg" alt="..." />
                            <h4>Empty Arena HN</h4>
                             <p class="text-muted">771 Trần Xuân Soạn, Q.7, TPHCM</p>
                            <p class="text-muted">HOTLINE : 0974546771</p>
                            <a class="btn btn-dark btn-social mx-2" href="#!" target="_blank" aria-label="Diana Petersen Twitter Profile"><i class="fas fa-map-marker-alt"></i></a>
                            <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.facebook.com/profile.php?id=61561715665445" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.instagram.com/emptyarena.billiards/" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="team-member">
                            <img class="mx-auto rounded-circle" src="images/emptyDN.jpeg" alt="..." />
                            <h4>Empty Arena ĐN </h4>
                             <p class="text-muted">771 Trần Xuân Soạn, Q.7, TPHCM</p>
                            <p class="text-muted">HOTLINE : 0974546771</p>
                            <a class="btn btn-dark btn-social mx-2" target="_blank" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fas fa-map-marker-alt"></i></a>
                            <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.facebook.com/profile.php?id=100087461982915" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-dark btn-social mx-2" target="_blank" href="https://www.instagram.com/emptyarena.billiards/" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p></div>
                </div>
            </div>
        </section>
        <!-- Clients-->
        <div class="py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="test/assets/img/logos/facebook.svg" alt="..." aria-label="Facebook Logo" /></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact-->
   
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright Empty Arena Billiards CORPS 2024</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>  
          

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Toastr JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

 


        </footer>
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="test/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                                <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                                      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
           <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 imgCarousel" src="imagess/emptyshirt.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="container-btn text-center"></div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="imagess/emptyshirt2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="container-btn text-center"></div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="imagess/emptyshirt3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="container-btn text-center"></div>
            </div>
          </div>
           <div class="carousel-item">
            <img class="d-block w-100" src="imagess/emptyshirt4.jpg" alt="Fouth slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="container-btn text-center"></div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
      </div>
                    <div class="col-md-6">
                        <div class="small mb-1">Merchandise</div>
                        <h1 class="display-5 fw-bolder">Empty Arena Shirt</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">500.000 VND</span>
                            <span>350.000 VND</span>
                        </div>
                        <p class="lead">Áo thi đấu Bida do chính Empty Arena Billiards 𝐭𝐡𝐢𝐞̂́𝐭 𝐤𝐞̂́ và 𝐬𝐚̉𝐧 𝐱𝐮𝐚̂́𝐭, được phối màu đỏ đen đầy nhiệt huyết.</p>
                        <div class="d-flex flex-column ">
                            <label for="inputQuantity" style="display: block; text-align: left;">Quantity:</label>
                                    <select class="form-control iForm" id="inputQuantity" >

    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    </select>
     <label for="inputSize" style="display: block; text-align: left;">Size:</label>
      <select class="form-control iForm" id="inputSize"  >
    <option value="S">S</option>
    <option value="M">M</option>
    <option value="L">L</option>
    <option value="XL">XL</option>
    <option value="2XL">2XL</option>
    <option value="3XL">3XL</option> 
    <option value="4XL">4XL</option>
    <option value="5XL">5XL</option>
    <option value="6XL">6XL</option>
    </select>           
                        <div class="d-flex flex-column align-items-center">
                            <button id="addcart" class="btn btn-outline-dark flex-shrink-0 addcarttt" style="height:50px" data-bs-toggle="modal" data-bs-target="#customerModal" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Mua Hàng
                            </button>
                        </div>    
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
       
                     
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Modal -->
<div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="customerModalLabel">Xác Nhận Đơn Hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/datao">
<div class="mb-3 d-flex justify-content-between">
    <label for="customerName" class="form-label">Tên</label>
    <input type="text" name="name" class="form-control" id="customerName" style="width: 50%;">
</div>
<div class="mb-3 d-flex justify-content-between">
    <label for="customerEmail" class="form-la``````bel">Email</label>
    <input type="email" name="email"class="form-control" id="customerEmail" style="width: 50%;">
</div>
<div class="mb-3 d-flex justify-content-between">
    <label for="customerAddress" class="form-label">Địa Chỉ</label>
    <input type="text" name="address"class="form-control" id="customerAddress" style="width: 50%;">
</div>
<div class="mb-3 d-flex justify-content-between">
    <label for="customerPhone" class="form-label">Phone</label>
    <input type="text" name="phone"class="form-control" id="customerPhone" style="width: 50%;">
</div>
        <hr class="red-divider">
               <div class="mb-3">
            <label for="quantity" class="form-label" >Số lượng</label>
     <div class="d-flex">
    <input type="number" name="quantity" class="form-control" id="quantity" style="width : 65px;" readonly> 
    <div style="margin-left: auto;">
        <span id="totalPrice"></span>
    </div>
</div>
          </div>
            <div class="mb-3">
            <label for="quantity" class="form-label" >Size</label>
     <div class="d-flex">
    <input type="text" name="size" class="form-control" id="size" style="width : 65px;" readonly> 
    <div style="margin-left: auto;">
        <span id="totalPrice"></span>
    </div>
</div>
          </div>
             
       
      </div>
 
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div> 
      </form>
    </div>
  </div>
</div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="test/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">EmptyArena Shirt</h2>
                                    <p class="item-intro text-muted"> Áo thi đấu Bida do chính Empty Arena Billiards 𝐭𝐡𝐢𝐞̂́𝐭 𝐤𝐞̂́ và 𝐬𝐚̉𝐧 𝐱𝐮𝐚̂́𝐭, được phối màu đỏ đen đầy cạnh tranh và nhiệt huyết</p>
                                      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
           <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 imgCarousel" src="imagess/emptyshirt.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="container-btn text-center"></div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="imagess/emptyshirt2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="container-btn text-center"></div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="imagess/emptyshirt3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="container-btn text-center"></div>
            </div>
          </div>
           <div class="carousel-item">
            <img class="d-block w-100" src="imagess/emptyshirt4.jpg" alt="Fouth slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="container-btn text-center"></div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Threads
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Illustration
                                        </li>
                                    </ul>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Close Project
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ModalHN modal popup-->
        <div class="portfolio-modal modal fade" id="modalHN" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="test/assets/img/close-icon.svg" alt="Close" /></div>
                    <div class="container">
                        <h2 class="text-uppercase">EMPTY ARENA HN</h2>
                                    <p class="item-intro text-muted">Empty xin thông tin đặt bàn của Quý Khách ạ!</p>
                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="formModal" >
                                 <form method="POST" action="/datbanHN">
                            <div class = "khung">
                                    <div class="form-group">
                                        <label for="name" class ="textname ">Tên</label>
                                        <input type="text" class="form-control" id="name" name = "name" placeholder="Tên người đặt bàn" required >
                                    </div>
                                    <div class="form-group" >
                                       <label for="time" class="textname">Thời Gian Đặt Bàn</label>
    <input type="text" class="form-control flatpickr" id="time" name="time" style="font-size : 0.85rem; width: 170px;" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class ="textname ">SĐT</label>
                                        <input type="number" class="form-control" id="phone" name ="phone" placeholder="SĐT xác nhận" required>
                                    </div>
                                    </div>
                                        <hr class="red-divider">
                                    <button type="submit" id="submitHN" class="text-uppercase btn btn-dark submitbtn" type="button">Xác Nhận</button>

                                </form>
                                </div>
                                
                         

                            </div>
                            <div class="col-md-6">
                                 
                                  <img src="icons/point.png"class=" imgHotline " > 379 Thuỵ Khuê , Q. Tây Hồ , Hà Nội </img>
                                 <img class="d-block" src="images/emptyHN.jpeg" style="width: 80% ; margin-left:100px; margin-top :30px; margin:auto;" alt="First slide">
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ModalSG modal popup-->
        <div class="portfolio-modal modal fade" id="modalSG" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="test/assets/img/close-icon.svg" alt="Close" /></div>
                    <div class="container">
                        <h2 class="text-uppercase">EMPTY ARENA SG</h2>
                                    <p class="item-intro text-muted">Empty xin thông tin đặt bàn của Quý Khách ạ!</p>
                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="formModal" >
                                 <form method="POST" action="/datbanSG">
                            <div class = "khung">
                                    <div class="form-group">
                                        <label for="name" class ="textname ">Tên</label>
                                        <input type="text" class="form-control" id="name" name = "name" placeholder="Tên người đặt bàn" required >
                                    </div>
                                    <div class="form-group" >
                                       <label for="time" class="textname">Thời Gian Đặt Bàn</label>
    <input type="text" class="form-control flatpickr" id="time" name="time" style="font-size : 0.85rem; width: 170px;" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class ="textname ">SĐT</label>
                                        <input type="number" class="form-control" id="phone" name ="phone" placeholder="SĐT xác nhận" required>
                                    </div>
                                    </div>
                                        <hr class="red-divider">
                                    <button type="submit" class="text-uppercase btn btn-dark submitbtn" type="button">Xác Nhận</button>
                                </form>
                                </div>
                         

                            </div>
                            <div class="col-md-6">
                                
                                 <img src="icons/point.png"class=" imgHotline " >771 Trần Xuân Soạn, Quận 7, Ho Chi Minh City</h3>
                                 <img class="d-block" src="images/emptySG.jpeg" style="width: 80% ; margin-left:100px; margin-top :30px; margin:auto;" alt="First slide">
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ModalDN modal popup-->
        <div class="portfolio-modal modal fade" id="modalDN" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="test/assets/img/close-icon.svg" alt="Close" /></div>
                    <div class="container">
                        <h2 class="text-uppercase">EMPTY ARENA DN </h2>
                                    <p class="item-intro text-muted">Empty xin thông tin đặt bàn của Quý Khách ạ!</p>
                        <div class="row">
                            <div class="col-md-6"> 
                                <div class="formModal" >
                                 <form method="POST" action="/datbanDN">
                            <div class = "khung">
                                    <div class="form-group">
                                        <label for="name" class ="textname ">Tên</label>
                                        <input type="text" class="form-control" id="name" name = "name" placeholder="Tên người đặt bàn" required >
                                    </div>
                                 <div class="form-group">
    <label for="time" class="textname">Thời Gian Đặt Bàn</label>
    <input type="text" class="form-control flatpickr" id="time" name="time" style="font-size : 0.85rem; width: 170px;" required>
</div>
                                    <div class="form-group">
                                        <label for="phone" class ="textname ">SĐT</label>
                                        <input type="number" class="form-control" id="phone" name ="phone" placeholder="SĐT xác nhận" required>
                                    </div>
                                    </div>
                                        <hr class="red-divider">
                                    <button type="submit" class="text-uppercase btn btn-dark submitbtn" type="button">Xác Nhận</button>
                                </form>
                                </div>
                         

                            </div>
                            <div class="col-md-6">

                                 <img src="icons/point.png"class=" imgHotline " > 72 Núi Thành , Hà Châu , Đà Nẵng. </img>
                                 <img class="d-block" src="images/emptyDN.jpeg" style="width: 80% ; margin-left:100px; margin-top :30px; margin:auto;" alt="First slide">
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


  </div>

</div>

        <!-- Bootstrap core JS-->
    <script>


    </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="test/js/scripts.js">
        </script>
        
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <!-- Toastr JS -->
<script>
  // Show a success notification

</script>
    </body>
</html>
