<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info Lookup Order</title>
    <!-- Load Bootstrap 4, JQuery-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Load custom Javascript and CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <script>
        let facebookAppId = "<%= facebookAppId %>"
    </script>
    <script src="/js/order.js"></script>

</head>
<body>
<div class="container fix-height">
    <div class="row">
        <div class="col-12">
            <div class="text-center mt-3">
                <span class="title">Đặt Bàn Tại EMPTY ARENA HN</span>
            </div>
            <input type="text" id="psid" hidden>
            <div class="form-group">
                <label for="customerName">Tên đại diện</label>
                <input type="text" id="customerName" class="form-control" placeholder="Tên đại diện">
            </div>
            <div class="form-group">
                <label for="email"> (<span style="color: red">*</span>):</label>
                <input type="time" id="time" class="form-control" placeholder="Thời Gian Đặt Bàn">
                
            </div>
            <div class="form-group">
                <label for="orderNumber">Order number (<span style="color: red">*</span>):</label>
                <input type="text" id="orderNumber" class="form-control" placeholder="Order number...">
             
            </div>
            <button class="btn btn-primary" id="btnFindOrder"> FIND ORDER </button>
        </div>

    </div>

</div>

</body>
</html>